* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  min-height: 100vh;
  color: white;
}

.background {
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
}

/* Nav Bar */
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: seagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* About Me */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 50px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  color: #fff;
  font-size: 2em;
  margin: 60px;
}

.section-title {
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

.media-info {
  width: 400px;
  margin-left: 50px;
}

.media-info li {
  list-style: none;
  font-size: 1.4em;
}

.media-info li a {
  color: #fff;
  text-decoration: none;
}

.media-info li:not(:last-child) {
  margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
  padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
  padding-left: 50px;
}

.sec-03 {
  margin-bottom: 100px;
}

.sec-03 img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: -200px;
  margin-left: px;
}

/* New CSS Rules */

.icon {
  position: fixed;
  top: 0;
  left: 0;
  margin: 7px; /* Adjust this value to add space from the top and left edges */
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(--clr-accent);
  background-color: var(--clr-accent); /* Change background color to match */
  border: 10px solid var(--clr-accent);
  border-radius: 5px;
  /*transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;*/
  transition: all 0.3s;
}

.icon:hover {
  transform: translateY(-10px);
  background-color: var(--clr-light); /* Change background color on hover */
  color: var(--clr-accent); /* Change text color on hover */
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #f1eaff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 200px;
  height: 100px;
  background-color: #d2d2d2;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.button::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 200px;
  margin: 5px;
  transition: 0.2s;
}

input:checked + .button {
  background-color: blue;
}

input:checked + .button::before {
  transform: translateX(100px);
  animation-name: toggle;
  animation-duration: 0.8s;
  transition-delay: 0.2s;
}

input {
  display: none;
}

@keyframes toggle {
  0% {
    width: 90px;
    height: 90px;
  }
  25% {
    margin: 10px;
    width: 30px;
    height: 80px;
  }
  50% {
    margin: 20px;
    width: 100px;
    height: 60px;
  }
  75% {
    margin: 5px;
